.products {
    padding: 15px;
}

.products-description {
    margin-top: 10px;
}

.products-images
{
    text-align: center;
}

.products-img {
    height: 80%;
    width: 80%;
}

.products-name {
    color: #000;
    display: block;
    font: 1.2rem Arial;
    margin-bottom: 5px;
}

.products-price, .products-name {
    text-align: left;
}

.products-price {
    color: #3190e4;
}