.navbar
{
    position: fixed;
    left: 0;
    top: 64px;
    width: 250px;
    height: 100%;
    border-right: 1px solid #e8ebed;
    background: #fff;
    z-index: 10;
    visibility: hidden;
    transition-property: visibility;
    transition-duration: 150ms;
    
}

.link-title {
    display: flex;
    padding: 20px 10px;
}

.open {
    visibility: visible;
}