.body {
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input, button {
  font-size: 1rem;
  outline: none;
  border: none;
}

div {
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
}
  
.row {
  display: flex;
  flex-direction: row;
}